/************* Menu ************/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

header {
  position: relative;
  top: 0;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: end;
  align-content: start;
  flex-direction: row;
  list-style: none;
  grid-column: 3 / 4;
  grid-row: 1;
  gap: 40px;
  margin-right: 20px;
}

.menu_img {
  grid-column: 1 / 4;
  grid-row: 1;
  padding-top: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(245, 253, 255, 0) 50%, rgba(0, 212, 255, 0) 100%);
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1;
  margin-left: 10px;
  margin-top: 5px;
}

.logo img {
  width: 50%;
  height: auto;
}

.logo img:hover {
  scale: 110%;
  transition: 0.5s;
}

.menu_img img {
  width: 100%;
}

.menu a {
  display: block;
  color: #0a41bc;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ff4900;
  text-decoration: none;
  transition: color 0.3s;
}

.sidens_navn {
  display: block;
  align-self: center;
  justify-self: center;
  color: #ffffff;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.burger {
  display: none;
  width: 30px;
  height: 40px;
  cursor: pointer;
  align-self: center;
}

.burger .line {
  width: 100%;
  height: 3px;
  background-color: #0a41bc;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

@media screen and (min-width: 800px) {
  .menu_img {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-top: 0px;
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1;
    margin-left: 20px;
    margin-top: 10px;
  }

  .logo img {
    width: 25%;
    height: auto;
  }

  .menu_img img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
    margin: 10px;
    justify-self: end;
    grid-row: 1;
    grid-column: 3 / 4;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff8a;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  nav.active .menu a {
    color: #0077ff;
  }

  nav.active .menu a:hover {
    color: #003bc3;
  }

  nav.active .menu img {
    display: none;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/*********** Hero section om mig og Portfolie ***********/

.hero_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: static;
  z-index: -1;
  margin-top: -10%;
}

.hero_img img {
  width: 100%;
  z-index: -1;
  position: relative;
  top: 0px;
  object-fit: cover;
}

.background_hero {
  grid-column: 1 / 10;
  grid-row: 3 / 8;
  padding-bottom: 20px;
  object-fit: cover;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(245, 253, 255, 0) 21%, rgba(0, 212, 255, 0) 100%);
  transform: scaleX(-1);
}

.hero_img {
  grid-column: 1 / 10;
  grid-row: 1 / 8;
}

.hero_text {
  grid-column: 7 / 10;
  grid-row: 3 / 8;
  z-index: 1;
  align-self: center;
  justify-self: center;
  color: #0a41bc;
  font-size: 13px;
  margin-right: 10px;
}

.hero_text a {
  text-decoration: none;
}

.hero_text a h1:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

@media screen and (min-width: 800px) {
  .hero_img img {
    width: 100%;
    z-index: -1;
    position: relative;
    top: 0px;
    min-width: 800px;
    object-fit: cover;
  }

  .mountain_hero {
    grid-column: 1 / 10;
    grid-row: 4 / 8;
    min-width: 800px;
  }

  .background_hero {
    grid-column: 1 / 10;
    grid-row: 3 / 8;
  }

  .hero_img {
    grid-column: 1 / 10;
    grid-row: 1 / 8;
  }

  .hero_text {
    grid-column: 1 / 3;
    grid-row: 4 / 7;
    z-index: 1;
    align-self: center;
    justify-self: start;
    margin-left: 20px;
    color: #0a41bc;
    font-size: 2vw;
  }
}

/******* Footer ********/

footer {
  background-color: #ffffff;
}

.footer_img {
  transform: scaleX(-1);
  padding-top: 10px;
}

footer p {
  text-align: center;
  color: #0a41bc;
}

/******* Font *******/

h1 {
  color: #0a41bc;
  font-family: "Akaya Kanadaka", serif;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
}

h1:not(.hero_text h1, .hero_text_2 h1) {
  margin-bottom: 0px;
}

h2 {
  color: #ff4900;
  font-family: "Yatra One", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 0px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
  }
}

a:not(.logo a) {
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.grid_1-1 p {
  color: #0a41bc;
}

.blue {
  color: #0a41bc;
}

.white {
  color: white;
}

.orange {
  color: #ff4900;
}

/************** Layout ***************/

.hide_mobil {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

#sidebar {
  min-width: 0;
}

/********* Knapper og billede rammer ********/
.border_img_white {
  border: 25px solid;
  border-image-source: url(img/border_img_2.svg);
  border-image-slice: 28 27 27 27;
  border-image-width: 20px;
  border-image-outset: 0px;
}

.border_img_white_button {
  border: 15px solid;
  border-image-source: url(img/border_img_2.svg);
  border-image-slice: 28 27 27 27;
  border-image-width: 10px;
  border-image-outset: 0px;
  color: white;
}

.border_img {
  border: 25px solid;
  border-image-source: url(img/border_img.svg);
  border-image-slice: 28 27 27 27;
  border-image-width: 20px;
  border-image-outset: 0px;
  margin-bottom: 10px;
}

.border_img_button {
  border: 22px solid;
  border-image-source: url(img/border_img.svg);
  border-image-slice: 28 27 27 27;
  border-image-width: 15px;
  border-image-outset: 0px;
  text-decoration: none;
  color: #0a41bc;
}

/********** Carousel **********/

.carousel {
  max-width: 1000px;
  max-height: 1000px;
}

#carousel_button_right {
  max-width: 198px;
  max-height: 90px;
  cursor: pointer;
}

#carousel_button_left {
  max-width: 198px;
  max-height: 90px;
  transform: scaleX(-1);
  cursor: pointer;
}

#carousel_button_left:hover {
  transform: scaleX(-1.2) scaleY(1.2) scaleZ(1.2);
  transition: 0.5s;
}

#carousel_button_right:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.link_portfolio {
  display: block;
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .flex_1-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #carousel_button_left {
    order: -1;
  }
  #carousel_button_right {
    max-width: 220px;
    max-height: 100px;
    cursor: pointer;
  }

  #carousel_button_left {
    max-width: 220px;
    max-height: 100px;
    transform: scaleX(-1);
    cursor: pointer;
  }
  .link_portfolio {
    display: inline-block;
  }

  .center {
    display: flex;
    justify-content: center;
  }
  .border_img_button,
  .border_img_white_button {
    font-size: 2rem;
  }
  .hide_mobil {
    display: block;
  }
}

a:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #ff4900;
  transition: 0.5s;
}

.hide {
  display: none;
}
